.collapse p {
  width: 150px;
  height: auto;
  float: right;
}
.navbar-header p {
  display: none;
}
.collapse input[type="text"] {
  width: 150px;
  height: 34px;
  margin-top: 8px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .navbar-header p {
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
  }
  .collapse p {
    display: none;
  }
  .navbar-header input[type="text"] {
    width: 150px;
    height: 34px;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 14px;
  }
}
